# Dependencies
node_modules/
package-lock.json
yarn.lock
.env*
.env.local
.env.dev
.env.production
# Own
PROJECT_PLAN.md
# Environment variables
.env
.env.local
.env.*.local
# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
build/
dist/
*.build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
